@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Egyptian+Hieroglyphs&display=swap');
body {
    font-family: "Noto Sans Egyptian Hieroglyphs";
    font-stretch: ultra-condensed;
    font-size: 72px;
}
.hg-cart-out{
    border-right: 4px solid brown;
    width: fit-content;
    height: fit-content;
}
.hg-cart{
    width: fit-content;
    font-weight: 900;

    border: 4px solid brown;
    border-radius: 1.3em;
}
.hg-sq{
    
    writing-mode: vertical-lr; 
    height: fit-content;
    width: 5ex;
    display: inline-block;
}

.hg-ins-lb{
    position: relative;
    bottom: 1.5em;
    letter-spacing: -0.3em;
    font-weight: 900;
    font-size: 50%
}
.hg-cuttop {
    text-indent: -0%;
    font-weight: 900;
}
.hg-single {

    font-size: 100%;
}
