@font-face {
    font-family: "Noto Sans Egyptian Hieroglyphs";
    font: stretch 500px;
    src: url(fonts/NewGardiner/NewGardinerSMP.ttf);
}
  
body {
    font-family: "Noto Sans Egyptian Hieroglyphs";
    font-stretch: ultra-condensed;
    font-size: 48px;
    margin: 0;
    padding: 0;
    writing-mode: vertical-lr;
    font-weight: 900;
}
.hg-cart-out{
    width: fit-content;
    height: fit-content;
    border-inline-end: 0.2ex solid brown;
}
.hg-cart{
    width: fit-content;
    height: fit-content;
    border: 0.2ex solid brown;
    border-radius: 1ex;
}
.hg-sq{
     
    height: fit-content;
    width: fit-content;
    display: inline-block;
    border: 1px solid black;
}

.hg-ins-lb{
    position: fixed;
    bottom: 0.1em;
    letter-spacing: -0.3em;
    font-weight: 900;
    font-size: 50%
}
.hg-cuttop {
    text-indent: -0%;
    font-weight: 900;
}
